.THIS.cs {
    margin-left:25px;
    margin-top: 25px;
    width:50%;
    border:1px solid red;
    padding:15px;
}
.THIS.csc {
    margin-left:25px;
    margin-top: 25px;
    width:50%;
    border:1px solid red;
    padding:15px;
}